<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Solutions Court</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://use.fontawesome.com/179d3e7320.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Solutions Court", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
   
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <table style="width:100%">
                <tr>
                    <td>&copy; DO IT FRESH</td>
                    <td style="text-align:right;"><img src="~/Content/PT-Logo-sm-black.png" /></td>
                </tr>
            </table>
        </footer>
    </div>

   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
