@using OnlineCourt.Models
@model Claim
@{
    ViewBag.Title = Model.ClaimTitle;
}

<script>
    
    $( document ).ready(function() {

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {

            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }


    var acc2 = document.getElementsByClassName("accordion2");
    var i;

    for (i = 0; i < acc2.length; i++) {
        acc2[i].onclick = function () {

            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }

    });
</script>

<style>
    .from {
        background-color:deepskyblue;
        border-radius: 25px;
        padding:10px;
        margin:5px;
        width:200px;
    }

    .to {
        margin-top:10px;
        background-color:cornflowerblue;
        border-radius: 25px;
        padding:10px;
        margin:5px;
        width:200px;
    }

    #convoContainer
    {
        width:400px;
    }

    .CaseOfficerQuestion
    {
        background-color:lightgreen;
    }
    
    .DefendantQuestion
    {
        background-color:lightblue;
    }

    .ClaimantQuestion
    {
        background-color:lightgray;
    }

    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
     button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }

    /* Style the accordion panel. Note: hidden by default */
    div.panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: auto;
        height:100%;
        transition: max-height 0.2s ease-out;
    } 

    button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    }

     button.accordion.active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

     button.accordion2 {
        background-color:lightblue;
        color: #444;
        cursor: pointer;
        padding: 8px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
     button.accordion2.active, button.accordion2:hover {
        background-color: dodgerblue;
    }

     button.accordion2:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

     button.accordion2.active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }


</style>

<h2>@ViewBag.Title</h2>

@Html.Partial("_CaseHeader", Model)

<div>
    Please find below your current list of allegations for you to action.
</div>

@foreach (var claimFact in Model.ClaimFacts)
{
    <button class="accordion">@claimFact.ClaimantClaim</button>
    <div class="panel">
        <div>
            <h3>Conversations</h3>
            @foreach (var question in claimFact.Questions)
            {

            <div>


                    @if (question.CaseOfficerQuestion)
                    {
                        <button class="accordion2">@question.Question</button>
                        <div class="panel">
                            <table>
                                @foreach (var res in question.Responses)
                                {
                                    if (res.IsCaseOfficeResponse)
                                    {
                                        <tr>
                                            <td class="from">
                                                @res.Response
                                                <br />
                                                @res.ResponseDate
                                                <br />
                                                [Case Officer]
                                            </td>
                                        </tr>
                                    }

                                    if (res.IsClaimantResponse)
                                    {
                                        <tr>
                                            <td></td>
                                            <td class="to">
                                                @res.Response
                                                <br />
                                                @res.ResponseDate
                                                <br />
                                                [Claimant]
                                            </td>
                                        </tr>
                                    }

                                    if (res.IsDefendantResponse)
                                    {
                                        <tr>
                                            <td></td>
                                            <td class="to">
                                                @res.Response
                                                <br />
                                                @res.ResponseDate
                                                <br />
                                                [Defendent]
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                            </div>
                            }

                            @if (question.DefendantQuestion)
                            {
                                <button class="accordion2">@question.Question</button>
                                <div class="panel">
                                    <table>
                                        @foreach (var res in question.Responses)
                                        {
                                            if (res.IsCaseOfficeResponse)
                                            {
                                                <tr>
                                                    <td class="to">
                                                        @res.Response
                                                        <br />
                                                        @res.ResponseDate
                                                        <br />
                                                        [Case Officer]
                                                    </td>
                                                </tr>
                                            }

                                            if (res.IsClaimantResponse)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td class="to">
                                                        @res.Response
                                                        <br />
                                                        @res.ResponseDate
                                                        <br />
                                                        [Claimant]
                                                    </td>
                                                </tr>
                                            }

                                            if (res.IsDefendantResponse)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td class="from">
                                                        @res.Response
                                                        <br />
                                                        @res.ResponseDate
                                                        <br />
                                                        [Defendent]
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            }

                            @if (question.ClaimantQuestion)
                            {
                                <button class="accordion2">@question.Question</button>
                                <div class="panel">
                                    <table>
                                        @foreach (var res in question.Responses)
                                        {
                                            if (res.IsCaseOfficeResponse)
                                            {
                                                <tr>
                                                    <td class="to">
                                                        @res.Response
                                                        <br />
                                                        @res.ResponseDate
                                                        <br />
                                                        [Case Officer]
                                                    </td>
                                                </tr>
                                            }

                                            if (res.IsClaimantResponse)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td class="from">
                                                        @res.Response
                                                        <br />
                                                        @res.ResponseDate
                                                        <br />
                                                        [Claimant]
                                                    </td>
                                                </tr>
                                            }

                                            if (res.IsDefendantResponse)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td class="to">
                                                        @res.Response
                                                        <br />
                                                        @res.ResponseDate
                                                        <br />
                                                        [Defendent]
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </table>
                                </div>
                            }

                            <div>
                                <br />
                                <b>Send Reply</b>
                                @Html.TextArea("Description", null, new { @class = "form-control" })
                                <input type="button" value="Post" />
                            </div>
                        </div>
                    }
        </div>
    </div>
}

<div>
    <p>
        <h4>Case Officer Comments</h4>
        @Html.TextArea("Description", null, new { @class = "form-control" })
        <input type="button" value="Post" />
    </p>
    <p>
        <h4>Support Documentation</h4>
        Documents Here
    </p>
</div>

<!--
<div id="accordion">
    <h3>Mr Daniel Foster: Allegation 1</h3>
    <div id="mainContainer">
        <div>
            Summary of allegation here
        </div>
        <div>
            <h4>Questions</h4>
            <div id="accordin2">
                <table id="convoContainer">
                    <thead>Question 1</thead>
                    <tr>
                        <td class="from">I am starting conversation I am starting conversation I am starting conversation</td>
                    </tr>
                    <tr>
                        <td></td><td class="to">I am starting conversation I am starting conversation I am starting conversation</td>
                    </tr>
                    <tr>
                        <td class="from">I am starting conversation I am starting conversation I am starting conversation</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="to">I am starting conversation I am starting conversation I am starting conversation</td>
                    </tr>
                </table>
                <div>
                    <br />
                    <b>Send Reply</b>
                    @Html.TextArea("Description", null, new { @class = "form-control" })
                    <input type="button" value="Post" />
                </div>
            </div>
        </div>
        <div>
            <p>
                <h4>Case Officer Comments</h4>
                @Html.TextArea("Description", null, new { @class = "form-control" })
                <input type="button" value="Post" />
            </p>
            <p>
                <h4>Support Documentation</h4>
                Documents Here
            </p>
            <p>
                <h4>Actions</h4>
            </p>
            <a href="https://appear.in/OnlineSolutionsCourt?video=on" target="_blank">Start Video Call</a>
        </div>
    </div>
</div>
-->


